<%- include("../template/header"); -%> <%- include("../template/layout"); -%>
<div class="main-form">
  <center>
    <div class="box-container mt-5">
      <div class="error-box">
        <div class="dot"></div>
        <div class="dot two"></div>
        <div class="face2">
          <div class="eye"></div>
          <div class="eye right"></div>
          <div class="mouth sad"></div>
        </div>
        <div class="shadow move"></div>
        <div class="my-message">
          <h1 class="alert my-h1 is-size-4">Error!</h1>
          <p class="my-p">oh no, something went wrong.</p>
        </div>
        <button class="button-box">
          <a href="/"> <h1 class="green my-h1">try again</h1></a>
        </button>
      </div>
    </div>
  </center>
</div>

<%- include("../template/footer"); -%>
