<%- include("../template/header"); -%> <%- include("../template/layout"); -%>

<div class="main-form">
  <center>
    <div class="box-container mt-5">
      <div class="success-box">
        <div class="dot"></div>
        <div class="dot two"></div>
        <div class="face">
          <div class="eye"></div>
          <div class="eye right"></div>
          <div class="mouth happy"></div>
        </div>
        <div class="shadow scale"></div>
        <div class="my-message">
          <a href="#"><h1 class="alert my-h1 is-size-4">Success!</h1></a>
          <p class="my-p">yay, everything is working</p>
        </div>
        <button class="button-box">
          <a href="/"> <h1 class="green my-h1">continue</h1> </a>
        </button>
      </div>
    </div>
  </center>
</div>

<%- include("../template/footer"); -%>
