<main>
  <div class="sidebar">
    <div class="logo">JS</div>
    <div class="sidebar-menu">
      <ul>
        <li class="active">
          <a href="/"
            ><span class="las la-home"></span> <span>Dashboard</span></a
          >
        </li>

        <li>
          <a href="/students"
            ><span class="las la-user-friends is-size-4"></span
            ><span class="ml-1">Students</span></a
          >
        </li>
        <li>
          <a href="/show-semester"
            ><i class="las la-th-list"></i> <span>All Semester</span></a
          >
        </li>

        <li>
          <a href="/subjects"
            ><i class="las la-book"></i> <span>Subjects</span></a
          >
        </li>
        <li>
          <a href="/mark-dis-page"
            ><i class="las la-pen-fancy"></i> Mark Distribution
          </a>
        </li>

        <li>
          <a href="/show-insert-num-by-sem"
            ><i class="lar la-file-alt is-size-4"></i> Insert Number
          </a>
        </li>

        <li>
          <a href="/show-grade-list"
            ><i class="las la-clipboard-list"></i> Grade List
          </a>
        </li>

        <li>
          <a href="/show-searching-result"
            ><span class="las la-poll-h"></span> <span>Student Result</span></a
          >
        </li>

        <li class="my-setting">
          <a href=""><span class="las la-cog"></span> <span>Setting</span></a>
        </li>
      </ul>
    </div>
  </div>
</main>
